<section>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Auteur</th>
            <th>Episode</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td class="is-capitalize">{{ comment.author.username }}</td>
                <td class="is-capitalize">{{ comment.episode.title }}</td>
                <td class="has-text-right">
                    <a href="{{ path('episode', {'id' : comment.episode.id}) }}#comment-{{ comment.id }}" title="Voir" class="button is-primary">
                        <span class="icon"><i class="fa fa-arrow-left"></i></span>
                    </a>
                    <a href="{{ path('admin_comment_edit', {'id': comment.id }) }}" title="Modifier"
                       class="button is-primary">
                        <span class="icon"><i class="fa fa-pencil"></i></span>
                    </a>
                    <a href="{{ path('admin_comment_delete', {'id': comment.id }) }}" title="Supprimer"
                       class="button is-danger">
                        <span class="icon"><i class="fa fa-remove"></i></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>