{% extends "layout.html.twig" %}

{% block siteTitle %}{{ episode.title }}{% endblock %}
{% block title %}{{ episode.title }}{% endblock %}
{% block subtitle %}{{ episode.subtitle }}{% endblock %}

{% block heroFoot %}
    <div class="container has-text-centered has-mb-2">
        <div class="columns">
            <div class="column">
                <span class="icon"><i class="fa fa-calendar-o"></i></span> Publié {{ episode.createdAtAgo }}
            </div>
            <div class="column">
                <span class="icon"><i class="fa fa-clock-o"></i></span> {{ episode.readingTime }} min de lecture
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <article>
        <section class="section is-medium the-content">
            <div class="container">
                {% if episode.style %}
                    {% set style = 'is-column-style' %}
                {% else %}
                    {% set style = '' %}
                {% endif %}
                <div class="content is-medium {{ style }}">
                    {{ episode.content|raw }}
                </div>
            </div>
        </section>

        {% include('partials/episodes_nav.html.twig') %}

        <section class="section is-medium the-comments">
            <div class="container">
                {% include 'partials/comments.html.twig' %}
            </div>
        </section>
    </article>
{% endblock %}