{% extends 'layout.html.twig' %}

{% block siteTitle %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    <section class="section is-medium">
        <div class="container">
            <div class="panel">
                {{ form_start(episodeForm) }}
                <div class="control">
                    {{ form_label(episodeForm.title, 'Titre') }}
                    {{ form_errors(episodeForm.title) }}
                    {{ form_widget(episodeForm.title) }}
                </div>
                <div class="control">
                    {{ form_label(episodeForm.subtitle, 'Sous-titre') }}
                    {{ form_errors(episodeForm.subtitle) }}
                    {{ form_widget(episodeForm.subtitle) }}
                </div>
                <div class="control">
                    {{ form_label(episodeForm.style, 'Style') }}
                    {{ form_errors(episodeForm.style) }}
                    {{ form_widget(episodeForm.style) }}
                </div>
                <div class="control">
                    {{ form_label(episodeForm.content, 'Contenu') }}
                    {{ form_errors(episodeForm.content) }}
                    {{ form_widget(episodeForm.content) }}
                </div>
                <div class="control">
                    <a href="{{ path('admin') }}" class="button is-danger is-medium">Annuler</a>
                    <button class="button is-primary is-medium pull-right">Valider</button>
                </div>
                {{ form_end(episodeForm) }}
            </div>
        </div>
    </section>
{% endblock %}