<!DOCTYPE html>
<html lang="fr" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Billet simple pour l'Alaska - {% block siteTitle %}{% endblock %}</title>
    <meta name="description" content="Billet simple pour l'Alaska par Jean Forteroche"/>
    <meta name="author" content="Jean Forteroche"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('/css/app.css') }}"/>
    <script src="{{ asset('/js/modernizr.js') }}"></script>
</head>
<body>

{{ render(controller('\\BlogWriter\\Controller\\DefaultController::menuAction')) }}

<div class="wrapper">
    <header id="header" class="hero is-primary is-medium">
        <div class="hero-head">
            <header class="nav">
                <div class="container">
                    <div class="nav-left">
                        <span class="nav-item">
                            <a id="menuBtn" class="button is-primary is-inverted is-outlined">
                                <span class="icon"><i class="fa fa-bars"></i></span>
                            </a>
                        </span>
                    </div>
                    <div class="nav-right">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <span class="nav-item is-capitalize">
                                Bienvenue, {{ app.user.username }}
                            </span>
                        {% endif %}
                        <span class="nav-item">
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}" class="button is-primary is-inverted is-outlined">
                                <span class="icon"><i class="fa fa-cog"></i></span>
                                <span>Administration</span>
                            </a>
                            {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('account') }}" class="button is-primary is-inverted is-outlined">
                                <span class="icon"><i class="fa fa-user"></i></span>
                                <span>Mon compte</span>
                            </a>
                            {% else %}
                            <a href="{{ path('login') }}" class="button is-primary is-inverted is-outlined">
                                <span class="icon"><i class="fa fa-sign-in"></i></span>
                                <span>Se connecter</span>
                            </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </header>
        </div>
        <div class="hero-body ">
            <div class="container has-text-centered">
                <h1 class="title is-1">{% block title %}{% endblock %}</h1>
                <h2 class="subtitle is-4">{% block subtitle %}{% endblock %}</h2>
                {% block heroBodyExtra %}{% endblock %}
            </div>
        </div>
        <div class="hero-foot">
            {% block heroFoot %}{% endblock %}
        </div>
    </header>
    <main id="main">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="container has-mt-2">
                <div class="notification is-success">
                    {{ flashMessage }}
                    <button class="delete"></button>
                </div>
            </div>
        {% endfor %}
        {% if errors is defined and errors %}
            <div class="container has-mt-2">
                <div class="notification is-danger">
                    {{ errors }}
                    <button class="delete"></button>
                </div>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <footer id="footer" class="footer">
        <div class="container">
            <div class="content has-text-centered">
                <p>
                    <strong>Un billet pour l'Alaska</strong> par Jean Forteroche |
                    Made with <span class="icon"><i class="fa fa-heart"></i></span>
                    by <a href="http://latr.me">Lambert Traccard</a>
                </p>
                <p>
                    <span class="icon"><i class="fa fa-copyright"></i></span> 2017 Tous droits réservés.
                </p>
            </div>
        </div>
    </footer>

</div><!-- /wrapper -->
<script src="{{ asset('/js/app.js') }}"></script>
</body>
</html>