{% extends 'layout.html.twig' %}

{% block siteTitle %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block subtitle %}{% endblock %}

{% block content %}
    <section class="section is-medium">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">

                    <div class="panel">
                        {{ form_start(userForm) }}
                        <div class="control">
                            {{ form_label(userForm.username, 'Pseudo') }}
                            {{ form_errors(userForm.username) }}
                            {{ form_widget(userForm.username, { 'attr':  {
                                'class': 'is-disabled'
                            }}) }}
                        </div>
                        <div class="control">
                            {{ form_label(userForm.displayName, 'Nom d\'affichage') }}
                            {{ form_errors(userForm.displayName) }}
                            {{ form_widget(userForm.displayName) }}
                        </div>
                        <div class="control">
                            {{ form_label(userForm.email, 'Email') }}
                            {{ form_errors(userForm.email) }}
                            {{ form_widget(userForm.email) }}
                        </div>
                        <div class="control">
                            {{ form_label(userForm.password.first, 'Mot de passe') }}
                            {{ form_errors(userForm.password.first) }}
                            {{ form_widget(userForm.password.first) }}
                        </div>
                        <div class="control">
                            {{ form_label(userForm.password.second, 'Confirmer mot de passe') }}
                            {{ form_widget(userForm.password.second) }}
                        </div>
                        <div class="control">
                            <a href="{{ path('admin') }}" class="button is-danger is-medium">Annuler</a>
                            <button type="submit" class="button is-primary is-medium pull-right">Valider</button>
                        </div>
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}